body{
     font-family:'Open sans';
 }
 label {
font-weight: 600;
}
.footer-nav-links a:hover,
.footer-nav-links a:focus {
    color: #ffffff;
    background-color: #0d416b;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .46);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .46);
}
.text-dark, .text-dark:hover, a.text-dark, a.text-dark:hover, a.text-dark:focus {
    background-color: #0d416b;
    color:#fff;
}
.navbar-inverse .navbar-nav .dropdown-menu {padding:40px;}
.navbar-inverse .navbar-nav > li > a {border-radius:0px;}
.navbar-inverse .navbar-nav > li > a:hover{
    background-color:#00aae7;
}
ul,li{font-weight:;}
.navbar-nav > li {
   
    padding-bottom: 0px;
}

.panel1{margin-bottom:0px;background-color:#fff;border:0px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);box-shadow:0 1px 1px rgba(0,0,0,0.05)}
